In [1]:
import pandas as pd

In [2]:
with open('./input.txt','r') as f:
    lines = f.readlines()

In [3]:
elfNumber = 1
elfItems = 0
elfSum = 0
elves = []
# elf = [id, items, totalCalories]
for line in lines:
    if line == '\n':
        # print(f'end of elf {elfNumber}')
        elves.append([elfNumber, elfItems, elfSum])
        elfNumber += 1
        elfItems = 0
        elfSum = 0
    # print(str.replace(line,'\n',''))
    else:
        elfItems += 1
        elfSum += int(str.replace(line,'\n', ''))

elves

[[1, 9, 61214],
 [2, 2, 41078],
 [3, 12, 48349],
 [4, 8, 56958],
 [5, 5, 48857],
 [6, 14, 54100],
 [7, 5, 51848],
 [8, 15, 61462],
 [9, 7, 48028],
 [10, 5, 39087],
 [11, 11, 53714],
 [12, 8, 40982],
 [13, 12, 55570],
 [14, 9, 40451],
 [15, 15, 44148],
 [16, 1, 69249],
 [17, 12, 40468],
 [18, 2, 43799],
 [19, 10, 49972],
 [20, 4, 36453],
 [21, 4, 48511],
 [22, 13, 53964],
 [23, 15, 60993],
 [24, 7, 41413],
 [25, 12, 66701],
 [26, 2, 38950],
 [27, 10, 39801],
 [28, 3, 65600],
 [29, 8, 71300],
 [30, 5, 60345],
 [31, 13, 61670],
 [32, 2, 32529],
 [33, 8, 48122],
 [34, 5, 35762],
 [35, 2, 46624],
 [36, 6, 34646],
 [37, 4, 34587],
 [38, 9, 44517],
 [39, 10, 49933],
 [40, 10, 51346],
 [41, 4, 37574],
 [42, 15, 56576],
 [43, 8, 48746],
 [44, 6, 43282],
 [45, 10, 42206],
 [46, 10, 34506],
 [47, 8, 55219],
 [48, 15, 49527],
 [49, 7, 47119],
 [50, 2, 31216],
 [51, 12, 41878],
 [52, 9, 41663],
 [53, 2, 29946],
 [54, 15, 52993],
 [55, 4, 54335],
 [56, 4, 37064],
 [57, 7, 39614],
 [58, 15, 53231],
 [59, 7, 39309],
 [60, 8, 49800],
 [61, 12, 51779],
 [62, 6, 44800],
 [63, 8, 53486],
 [64, 6, 61677],
 [65, 2, 36840],
 [66, 14, 41999],
 [67, 6, 41036],
 [68, 14, 50556],
 [69, 9, 49006],
 [70, 10, 40514],
 [71, 2, 43624],
 [72, 6, 41183],
 [73, 14, 45564],
 [74, 13, 52181],
 [75, 2, 21627],
 [76, 9, 40691],
 [77, 7, 57292],
 [78, 9, 51815],
 [79, 15, 57941],
 [80, 13, 62584],
 [81, 15, 48573],
 [82, 1, 27508],
 [83, 5, 42816],
 [84, 7, 45484],
 [85, 3, 40155],
 [86, 13, 49878],
 [87, 1, 49278],
 [88, 2, 49670],
 [89, 7, 35972],
 [90, 14, 39557],
 [91, 8, 46623],
 [92, 9, 51115],
 [93, 6, 29994],
 [94, 12, 53978],
 [95, 8, 52255],
 [96, 9, 38383],
 [97, 14, 60129],
 [98, 9, 61775],
 [99, 5, 37371],
 [100, 7, 37176],
 [101, 2, 61603],
 [102, 6, 51071],
 [103, 5, 38596],
 [104, 12, 56562],
 [105, 1, 58413],
 [106, 7, 48073],
 [107, 11, 51828],
 [108, 12, 42581],
 [109, 6, 40146],
 [110, 4, 54313],
 [111, 10, 50627],
 [112, 11, 49304],
 [113, 6, 39688],
 [114, 14, 59814],
 [115, 2, 69142],
 [116, 10, 57061],
 [117, 15, 61577],
 [118, 8, 44407],
 [119, 4, 38038],
 [120, 13, 54754],
 [121, 10, 52062],
 [122, 4, 46275],
 [123, 9, 54979],
 [124, 9, 48177],
 [125, 3, 35470],
 [126, 7, 54248],
 [127, 11, 36498],
 [128, 9, 33154],
 [129, 7, 47597],
 [130, 6, 52150],
 [131, 10, 34809],
 [132, 13, 56394],
 [133, 4, 46168],
 [134, 10, 44864],
 [135, 8, 36808],
 [136, 9, 44567],
 [137, 4, 36912],
 [138, 5, 32565],
 [139, 10, 42583],
 [140, 10, 59349],
 [141, 2, 38747],
 [142, 10, 35750],
 [143, 8, 54338],
 [144, 5, 35390],
 [145, 6, 48763],
 [146, 8, 41964],
 [147, 5, 49247],
 [148, 3, 60180],
 [149, 14, 51228],
 [150, 7, 33450],
 [151, 2, 59642],
 [152, 12, 44613],
 [153, 14, 52452],
 [154, 10, 35599],
 [155, 15, 50457],
 [156, 12, 54080],
 [157, 8, 45391],
 [158, 2, 48919],
 [159, 7, 46785],
 [160, 2, 24490],
 [161, 10, 46695],
 [162, 13, 45080],
 [163, 11, 46207],
 [164, 8, 43754],
 [165, 11, 57792],
 [166, 2, 34154],
 [167, 2, 37304],
 [168, 6, 47551],
 [169, 3, 58438],
 [170, 12, 53663],
 [171, 8, 40167],
 [172, 2, 55051],
 [173, 15, 57824],
 [174, 14, 67203],
 [175, 15, 58020],
 [176, 4, 32502],
 [177, 13, 54099],
 [178, 5, 43849],
 [179, 8, 42306],
 [180, 2, 48547],
 [181, 14, 59767],
 [182, 8, 51518],
 [183, 6, 37695],
 [184, 7, 37078],
 [185, 11, 41349],
 [186, 14, 48622],
 [187, 9, 37437],
 [188, 6, 44917],
 [189, 12, 47341],
 [190, 4, 50413],
 [191, 13, 58968],
 [192, 15, 43137],
 [193, 4, 58240],
 [194, 2, 40716],
 [195, 5, 28157],
 [196, 4, 21279],
 [197, 6, 38453],
 [198, 14, 53628],
 [199, 6, 38708],
 [200, 3, 57895],
 [201, 15, 51581],
 [202, 1, 8659],
 [203, 5, 40073],
 [204, 10, 55264],
 [205, 5, 37257],
 [206, 8, 57546],
 [207, 1, 27009],
 [208, 9, 39905],
 [209, 1, 58602],
 [210, 15, 62336],
 [211, 2, 13990],
 [212, 8, 47152],
 [213, 10, 55976],
 [214, 4, 41577],
 [215, 8, 43718],
 [216, 10, 48390],
 [217, 14, 59517],
 [218, 10, 50919],
 [219, 1, 8546],
 [220, 11, 51711],
 [221, 1, 9850],
 [222, 6, 55812],
 [223, 2, 46221],
 [224, 6, 36037],
 [225, 8, 44868],
 [226, 12, 49032],
 [227, 6, 33302],
 [228, 15, 59556],
 [229, 10, 57932],
 [230, 9, 40941],
 [231, 6, 38088],
 [232, 7, 47237],
 [233, 12, 55372],
 [234, 8, 37876],
 [235, 8, 34217],
 [236, 14, 45527],
 [237, 12, 52071],
 [238, 14, 51207],
 [239, 10, 42783],
 [240, 1, 17962],
 [241, 4, 34906],
 [242, 6, 36846],
 [243, 6, 39925],
 [244, 9, 42834],
 [245, 11, 53906],
 [246, 1, 22149],
 [247, 12, 56602],
 [248, 11, 47783],
 [249, 7, 48840],
 [250, 1, 20975]]

In [11]:
df = pd.DataFrame(elves, columns=['elfId', 'itemCount', 'totalCalories'])

In [20]:
df

     elfId  itemCount  totalCalories
0        1          9          61214
1        2          2          41078
2        3         12          48349
3        4          8          56958
4        5          5          48857
..     ...        ...            ...
245    246          1          22149
246    247         12          56602
247    248         11          47783
248    249          7          48840
249    250          1          20975

[250 rows x 3 columns]

## Challenge 1

In [29]:
df['totalCalories'].max()

71300

## Challenge 2

In [31]:
mostCalories = df.sort_values('totalCalories', ascending=False).head(3)
mostCalories['totalCalories'].sum()

209691